:root {
  --AMARELO: #ecfc18;
  --MAGENTA: #ad00c4;
  --LARANJA: #b47602;
  --VERMELHO: RED;
}

#animation-dropdown {
  transition: 500ms;
  rotate: -90deg;
}

#animation-dropdown::after {
  rotate: 0deg;
}

#instagram {
  font-family: "Kumbh Sans", sans-serif;
}

#gradient {
  color: whitesmoke;
  background: linear-gradient(30deg, var(--AMARELO), var(--MAGENTA));
  border-radius: 6px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #073a09;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
